section#register {
    background-color: #f8f8f8;
    background-size: cover;
}

#cover {
    background-image: url('/Content/images/cover.jpg');
    width: 100%;
    height: 100%;
}



nav {
    min-height: 10%;
    max-height: 10%;
}
header {
    background-color: #F8F8F8;
    
}


header ul {
    margin: 0;
}

header a,
header li {
    
color: #777;
font-weight: bold;
}

section#body-content {
    
    margin-top: 5%;
    width: 100%;
    padding: 0%;
    min-width: 100%;
    height: 100%;
}

footer {
  position: absolute; 
  bottom: 0;
  width: 100%;
  height: 10%;
  line-height: 60px; 
  background-color: #f5f5f5;
}



section#cover h1,
section#cover h2 {
color: #FFF;
}

section#cover h2 {
font-size: 1.5rem;
}
section#cover hr {
width: 10%;
}
section#cover .btn-default {
background-color: rgba(255, 255, 255, 0.5);
border: none;
}




section#register {
    
    background-color: #f8f8f8;
    background-size: cover;
}






.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; 
  border: .05rem solid #fff;
}


#cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; 
  min-height: 100%;
  box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
}


.site-wrapper-inner {
    vertical-align: middle;
  }


.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

